<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mall Monitor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">My Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Change Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Store</a>
      </li>
    </ul>
  </div>
</nav>

<!--Live Surveillance-->
<div class="container">
  <h1>My Dashboard</h1>
    <div class="row justify-content-md-center">
      <div class="col">
        Surveillance Camera 1
      </div>
      <div class="col">
        Surveillance Camera 2
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col">
        Store Metrics
      </div>
      <div class="col">
        Model Metrics
      </div>
    </div>
</div>

<!--The table of cameras-->
<div class="container">
  <h1>My Dashboard</h1>
  <div class="table">
    <div class="row align-items-start">
      <div class="col">
        Camera Name
      </div>
      <div class="col">
        Active?
      </div>
      <div class="col">
        Installation Date
      </div>
    </div>
    <div class="row">
      <div class="col">
        Cam1
      </div>
      <div class="col">
        YES
      </div>
      <div class="col">
        11/12/2020 15:12:46
      </div>
      <div class="w-100"></div>
      <div class="col">
        Cam2
      </div>
      <div class="col">
        YES
      </div>
      <div class="col">
        01/15/2021 09:52:14
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>