<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mall Monitor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">My Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Change Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Store</a>
      </li>
    </ul>
  </div>
</nav>


<!--Dashboard/Live Surveillance-->
<div class="container">
  <h1>My Dashboard</h1>
    <div class="row justify-content-md-center">
      <div class="col">
        Surveillance Camera 1
      </div>
      <div class="col">
        Surveillance Camera 2
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col">
        <div class="row">
          <i class="fas fa-users"></i>
          <div class="column">Current Density :</div>
          <h3>5</h3>
        </div> 
        <div class="row">
          <i class="fas fa-percentage"></i>
          <div class="column">Current Capacity :</div>
          <h3>25%</h3>
        </div> 
        <div class="row">
          <i class="fas fa-user-check"></i>
          <div class="column">Allowed Max Density :</div>
          <h3>10</h3>
        </div> 
        <div class="row">
          <i class="fas fa-percentage"></i>
          <div class="column">Allowed Max Capacity :</div>
          <h3>50%</h3>
        </div> 
      </div>
      <div class="col">
        <div class="row">
          <i class="far fa-eye"></i>
          <div class="column">Matched People :</div>
          <h3>1</h3>
        </div> 
        <div class="row">
          <i class="fas fa-suitcase"></i>
          <div class="column">Detected Accessories  :</div>
          <h3>2</h3>
        </div> 
        <div class="row">
          <i class="fas fa-chart-line"></i>
          <div class="column">Mean Confidence :</div>
          <h3>76%</h3>
        </div> 
        <div class="row">
          <i class="fas fa-trophy"></i>
          <div class="column">Maximum Confidence :</div>
          <h3>98%</h3>
        </div> 
      </div>
    </div>
</div>

<!--Dashboard/Insights-->
<div class="container">
  <h1>My Dashboard</h1>
  <div class="row justify-content-end">
    <button>Days</button>
    <button>Weeks</button>
    <button>Months</button>
    <button>Years</button>
  </div>
  <div>

  </div>
</div>

<!--Dashboard/Store Details-->
<div class="container">
  <h1>My Dashboard</h1>

  <!--The table of cameras-->
  <div class="table">
    <div class="row align-items-start">
      <div class="col">
        <h3>Camera Name</h3>
      </div>
      <div class="col">
        <h3>Active?</h3>
      </div>
      <div class="col">
        <h3>Installation Date</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Cam1
      </div>
      <div class="col">
        YES
      </div>
      <div class="col">
        11/12/2020 15:12:46
      </div>
      <div class="w-100"></div>
      <div class="col">
        Cam2
      </div>
      <div class="col">
        YES
      </div>
      <div class="col">
        01/15/2021 09:52:14
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>